.header{
    color:  #00343F;
    font-size: 20px;
    background-color: #dbb6ee;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    position: sticky;
    top: 0px;
    right: 0px;
    height: 60px;
    z-index: 1;
}
.nav__items{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.link{
    text-decoration: none;
}
.menu__name{
    color:  #00343F;
}
.menu__name:hover{
    color: white;
    transform: scale(1.2);
    transition: all 250ms ease-in-out;
    cursor: pointer;
}
.nav__logo{display: none;}
@media (max-width: 800px) {
    .nav__items{
        position: absolute;
        display: flex;
        flex-direction: column;
        list-style: none;
        top: 50px;
        justify-content: center;
        align-items: center;
        right: 0;
        border: 1px solid white;
        background-color: #dbb6ee;
        transform: translateX(-800%);
        transition: 0.3s ease all;
    }
    .nav__items.open{
        transform: translateX(0%);
        transition: 0.3s ease all;
    }
    .nav__logo{
        display: block;
        font-size: 35px;
    }
    .nav__logo:hover{
        color: white;
        transform: scale(1.2);
        transition: all 250ms ease-in-out;
        cursor: pointer;
    }
    .header{
        display: flex;
        align-items: center;
        justify-content: end;
    }
}